:root {
  --primary-color: #81afdc;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  width: 100%;
  background-color: black;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
  margin-top: 100px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  margin-bottom: 40px;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.col-6 {
  flex: 0 0 auto;
  width: 50%;
}
.container-fluid {
  max-width: 1140px;
}
.text-center {
  margin-top: 100px;
  font-size: 96px;
}
.coffeeapp {
  margin-top: 70px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .img-fluid {
    display: none;
  }

  a {
    display: block;
    text-align: center;
  }
  p {
    text-align: center;
  }
  header h1 {
    text-align: center;
  }
  header h2 {
    text-align: center;
  }
}
header {
  margin-top: 100px;
}
header h1 {
  color: var(--primary-color);
  text-align: right;
  margin-top: 100px;
}
header h2 {
  text-align: right;
  color: white;
}
